{% extends 'layout.html' %}
{% load static %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'css/employees/edit_employee.css' %}">
{% endblock %}

{% block contenido %}
<!-- Sección de mensajes -->
{% if messages %}
	<ul class="messages">
		{% for message in messages %}
			<li class="message {{ message.tags }}">{{ message }}</li>
		{% endfor %}
	</ul>
{% endif %}
	<div class="form-container">
		<h2>Agregar Nuevo Empleado</h2>
		<!-- Formulario -->
		<form method="post">
		{% csrf_token %}
			<div>
				<label for="firstName">Nombre:</label>
				<input type="text" id="firstName" name="firstName" required>
			</div>
			<div>
				<label for="lastName">Apellido:</label>
				<input type="text" id="lastName" name="lastName" required>
			</div>
			<div>
				<label for="idNumber">Identificación:</label>
				<input type="text" id="idNumber" name="idNumber" required>
			</div>
			<div>
				<label for="phoneNumber">Teléfono:</label>
				<input type="text" id="phoneNumber" name="phoneNumber" required>
			</div>
			<div>
				<label for="password">Contraseña:</label>
				<input type="password" id="password" name="password" required>
			</div>
			<div class="buttons">
				<button type="submit">Guardar</button>
				<a href="{% url 'view_employees' %}" class="btn-cancel">Cancelar</a>
			</div>
		</form>
	</div>
{% endblock %}
